body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col1 {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.logo {
  height: 40px;
  width: 200px;
}

.col2 ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.col3  {
  align-items: start;
  padding: 8px 28px;
}

.menutext {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.button1 {
  background-color: lightsalmon;
  color: orangered;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border-color: transparent;
  padding: 10px 32px;
}

.button1:hover {
  background-color: orangered;
  color: white;
}

.icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px 28px;
  color: black;
}

/* mobile view referenece : https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

@media screen and (max-width: 600px) {
  .col2 ul,
  .col3 {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 10px 0;
  }

  .header.responsive .col2 ul,
  .header.responsive .col3 {
    display: flex;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .col1 {
    width: auto;
    margin-left: 10px;
  }

  .icon {
    display: block;
    margin-left: auto;
    padding: 8px 20px;
    width: auto;
    gap: 10px;
    text-decoration: none;
  }

  .col2,
  .col3 {
    width: 100%;
   align-items: center;
  }

  .col2 ul {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.menuicon {
  color: black;
}

/* Ipad view */
@media screen and (max-width: 768px) {
  .col2 ul,
  .col3 {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 10px 0;
  }

  .header.responsive .col2 ul,
  .header.responsive .col3 {
    display: flex;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .col1 {
    width: auto;
    margin-left: 10px;
  }

  .icon {
    display: block;
    margin-left: auto;
    padding: 8px 20px;
    width: auto;
    gap: 10px;
    text-decoration: none;
  }

  .col2,
  .col3 {
    width: 100%;
   align-items: center;
  }

  .col2 ul {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.menuicon {
  color: black;
}
