* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  padding: 10px;
  background-color: white;
  overflow-x: hidden;
  justify-content: space-between;
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col1 {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.logo {
  height: 40px;
  width: 200px;
}

.col2 {
  margin-left: 360px;
}

.col3 {
  margin-right: 80px;
}

.col2 ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.col3  {
  align-items: start;
  padding: 8px 28px;
}

.menutext {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.button1 {
  background-color: rgb(233, 183, 90);
  color: orangered;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border-color: transparent;
  padding: 12px 36px;
}

.button1:hover {
  background-color: orangered;
  color: white;
}

.icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px 28px;
  color: black;
  text-decoration: none;
}

/* mobile view referenece : https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */

@media screen and (max-width: 600px) {
  .col2,
  .col3 {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }

  .header.responsive .col2,
  .header.responsive .col3 {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: auto;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .col1 {
    margin-left: 10px;
  }

  .icon {
    display: block;
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
  }

  .col2 ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .col2 ul li {
    width: 100%;
  }

  .col2 ul li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
  }

  .col2 ul li a i {
    margin-left: auto;
  }

  .col3 {
    justify-content: center;
    padding: 20px;
  }
}

/* Ipad view */
@media screen and (max-width: 768px) {
  .col2,
  .col3 {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }

  .header.responsive .col2,
  .header.responsive .col3 {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: auto;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .col1 {
    margin-left: 10px;
  }

  .icon {
    display: block;
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
  }

  .col2 ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .col2 ul li {
    width: 100%;
  }

  .col2 ul li a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
  }

  .col2 ul li a i {
    margin-left: auto;
  }

  .col3 {
    justify-content: center;
    padding: 20px;
  }
}