* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 10px 10px;
  overflow: visible;
  background-color: white;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col1 {
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.logo {
  height: 40px;
  width: 200px;
}

.col2 {
  margin-left: 320px;
  margin-top: 5px;
}

.col3 {
  margin-right: 80px;
}

.col2 ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.col3  {
  align-items: start;
  padding: 8px 28px;
}

.menutext {
  font-family:'DM Sans';
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
}

.menutext:hover{
  color:rgb(248, 96, 17); ;
}

.button1 {
  background-color: rgb(253, 216, 198);
  color: #F86011;
  border-radius: 10px;
  font-family:'DM Sans';
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-color: transparent;
  padding: 12px 36px;
}

.button1:hover {
  background-color: orangered;
  color: white;
}

.icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 8px 28px;
  color: black;
  text-decoration: none;
}

.dropbtn {
  border: none;
  background: none;
  font-family:'DM Sans';
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropbtn:hover {
  color:rgb(248, 96, 17);
}
.dropdown-content a {
  font-family:'DM Sans';
  font-size: 15px;
  font-weight: 500;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 9px;
}
.dropdown-content a:hover {
  color: rgb(248, 96, 17);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn i {
  margin-left: 6px;
  font-size: 16px;
}

/* Phone view */

@media screen and (max-width: 600px) {

  .col2,
  .col3 {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }

  .header.responsive .col2,
  .header.responsive .col3 {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: auto;
  }

  .row {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: center;   
    width: 100%;
    padding: 0 10px;
  }

  .col1 {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .icon {
    display: block;
    font-style: arial;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin: 0;
  }

  .col2 ul {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .col2 ul li {
    width: 100%;
  }

  .col2 ul li a {
    width: 100%;
    display: flex;
    padding:10px 20px;
    color: black;
    text-decoration: none;
  }

  .col2 ul li a.menutext {
    justify-content: center;
    display: flex; 
    position: relative;
  }

  .col2 ul li a i {
    position: absolute;
  right: 30px;
  }

  .col3 {
    justify-content: center;
    padding: 20px;
  }

  .button1 {
    background-color: white;
    color: black;
    align-items: center;
  }

  .dropbtn {
    margin: auto;
  }
}

/* Ipad view */
@media screen and (min-width: 768px)and (max-width: 991px) and (orientation: portrait) {
  .col2,
  .col3 {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
  }

  .header.responsive .col2,
  .header.responsive .col3 {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: auto;
  }

  .row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .col1 {
    margin-left: 10px;
  }

  .icon {
    display: block;
    font-size: 24px;
    margin-right: 20px;
    cursor: pointer;
  }

  .col2 ul {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .col2 ul li {
    width: 100%;
  }

  .col2 ul li a {
    width: 100%;
    display: flex;
    padding:10px 20px;
    color: black;
    text-decoration: none;
  }

  .col2 ul li a.menutext {
    justify-content: center;;
    display: flex; 
    position: relative;
  }

  .col2 ul li a i {
    position: absolute;
  right: 30px;
  }

  .col3 {
    justify-content: center;
    padding: 20px;
  }

  .button1 {
    background-color: white;
    color: black;
    align-items: center;
  }

  .dropbtn {
    margin: auto;
  }
}
/* Banner/slides section */

.mySlides {
  display: none;
  width: 100%;
  height: 85.5vh;
  position: relative;
  overflow: hidden;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.w3-display-left {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  max-width: 45%;
}

.myH11 {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 20px;
  color: white;
  text-shadow: 3px 3px 3px black;
}

.get-in-touch1 {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.get-in-touch1:hover {
  background-color: transparent;
  color: black;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: white;
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrow:hover {
  background-color: transparent;
  color: white;
}

.left-arrow {
  left: 20px;
}

.right-arrow {
  right: 20px;
}

.dot-container {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.w3-badge {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: transparent;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.w3-badge.active {
  background-color: black;
}

@media screen and (max-width: 600px) {
  .arrow {
    display: none;
  }

  .mySlides {
    height: 100vh;
  }

  .myH11 {
    font-size: 28px; 
    line-height: 2;
  }

  .get-in-touch1 {
    font-size: 20px;
    padding: 12px 24px;
  }

  .w3-display-left {
    max-width: 90%;
    left: 5%;
  }

  .dot-container {
    bottom: 10%
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .arrow {
    display: none;
  }

  .mySlides {
    height: 100vh;
  }

  .myH11 {
    font-size: 28px; 
    line-height: 2;
  }

  .get-in-touch1 {
    font-size: 24px;
    padding: 12px 24px;
  }

  .w3-display-left {
    max-width: 90%;
    left: 5%;
  }

  .dot-container {
    bottom: 10%;
  }
}